header {
    display: flex;
    padding: 3%;
    border-bottom: 1px solid black;
}

#searchBtn {
    margin-left: 5%;
}

#results {
    display: flex;
    border-bottom: 1px solid black;
    margin: 0 7%;
}

#anime-results {
    margin-left: 15%;
}

main {
    display: flex;
    justify-content: space-around;
}

h2 {
    font-size: larger;
    margin: 0 0 10 10%;
}


