*{
    font-family: 'Edu VIC WA NT Beginner',  
}
header {
    display: flex;
    padding: 3%;
    border-bottom: 1px solid black;
}

#searchBtn {
    margin-left: 5%;
}

#results {
    display: flex;
    border-bottom: 1px solid black;
    margin: 0 7%;
}

main {
    display: flex;
    justify-content: space-around;
}

#resultsInfo {
    margin-left: 30%;
}

h2 {
    font-size: larger;
    margin: 0 0 10 10%;
}

.vl {
    border-left: 1px solid black;
    height: 400;
    position: inherit;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }


