header {
    display: flex;
    padding: 3%;
    border-bottom: 1px solid black;
}

#searchBtn {
    margin-left: 5%;

}

main{
    display: flex;
    justify-content: space-around;
}

.vl {
    border-left: 1px solid black;
    height: 200px;
    position: inherit;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }